<h4>{{ site.data[lang].contact | default: 'contact' | capitalize }}</h4>
<form method="post" class="validate-form" novalidate>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            {{ site.data[lang].name | default: 'name' | capitalize }}
        </label>
        <div class="col-sm-10">
            <input name="name" class="form-control" placeholder="{{ site.data[lang].name_example | default: 'John Doe' }}" required>
            <div class="invalid-feedback">
                {{ site.data[lang].name_error | default: 'please provide your name' | capitalize }}.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            {{ site.data[lang].email | default: 'email address' | capitalize }}
        </label>
        <div class="col-sm-10">
            <input name="_replyto" type="email" class="form-control" placeholder="{{ site.data[lang].email_example | default: 'john.doe@example.com' }}" required>
            <div class="invalid-feedback">
                {{ site.data[lang].email_error | default: 'please provide a valid email address' | capitalize }}.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            {{ site.data[lang].message | default: 'your message' | capitalize }}
        </label>
        <div class="col-sm-10">
            <textarea name="message" placeholder="{{ site.data[lang].message | default: 'your message' | capitalize }}" class="form-control" rows="5" required></textarea>
            <div class="invalid-feedback">
                {{ site.data[lang].message_error | default: 'please provide a message' | capitalize }}.
            </div>
        </div>
    </div>
    <input type="hidden" name="_language" value="{{ lang }}" />
    <input type="hidden" name="_subject" value="risc.be contact request" />
    <input title="address" name="_gotcha" style="display:none" />
    <div class="clearfix">
        <button id="submit" class="btn btn-primary float-right">
            {{ site.data[lang].submit | default: 'submit' | capitalize }}
        </button>
    </div>
</form>
