<head>
    <meta charset="UTF-8">
    <title>
        {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta name="description"
          content="{{ page.description | default: site.description }}"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=oLdBbo9Gme">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=oLdBbo9Gme">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=oLdBbo9Gme">
    <link rel="manifest" href="/assets/icons/manifest.json?v=oLdBbo9Gme">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=oLdBbo9Gme" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=oLdBbo9Gme">
    <meta name="apple-mobile-web-app-title" content="RISC">
    <meta name="application-name" content="RISC">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=oLdBbo9Gme">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet"
          href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% for alternatePage in alternatePages %}
    <link rel="alternate" hreflang="{{ alternatePage.lang }}"
          href="{{ alternatePage.url }}"/>
    {% endfor %}
</head>
