<div>
    {% for post in site.categories[lang] limit:3 %}
        <div>
            <h6>
                {{ post.title }}
                <small class="text-muted">
                    on {{ post.date | date_to_string }}
                </small>
            </h6>
            <div>{{ post.content }}</div>
            <div class="clearfix">
                <a class="float-right follow-link" href="{{ post.url }}">
                    read more
                </a>
            </div>
        </div>
        {% if forloop.last == false %}
            <hr/>
        {% endif %}
    {% else %}
        No news to display... yet
    {% endfor %}
</div>
