<h2>{{ site.data[lang].last_news | default: 'last news' | capitalize }}</h2>

{% for post in site.categories[lang] limit:10 %}
    <article>
        <h6>
            {{ post.title | downcase | capitalize }}
            <small class="text-muted">
                {% assign day = post.date | date:"%A" | downcase %}
                {% assign month = post.date | date:"%B" | downcase %}
                {{ site.data[lang].on | default: 'on' }}
                {{ site.data[lang][day] | default: day | capitalize }},
                {{ post.date | date:"%d" }}
                {{ site.data[lang][month] | default: month | capitalize }}
                {{ post.date | date:"%Y" }}
            </small>
        </h6>
        <div>{{ post.content }}</div>
    </article>
    {% if forloop.last == false %}
        <hr/>
    {% endif %}
{% else %}
    {{ site.data[lang].no_news | default: 'No news to display... yet' | capitalize }}
{% endfor %}
