<div class="fb-container pt-5 pb-3">
    <div class="fb-page" data-height="460" data-href="https://www.facebook.com/riscwaterpolo/" data-tabs="timeline, events, messages" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/riscwaterpolo/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/riscwaterpolo/">
                Royal Ixelles Swimming Club - Water Polo
            </a>
        </blockquote>
    </div>
<div>
