.splash {
  background-color: $green;

  .col-6 {
    padding-right: 0;
  }

  .col-6:last-child {
    padding-left: 0;
    padding-right: 1rem;
  }

  a {
    color: $blue;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

body {
  margin-top: 5rem;

  main {
    padding: 2rem 0.5rem 2rem;
  }

  nav {

    background-color: $green;

    .navbar-brand {
      text-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .7);

      img {
        height: 4rem;
        padding-right: 0.2rem;
      }
    }

    .navbar-toggler-right {
      right: 0.4rem;
      top: 0.8rem;
    }
  }

  footer {
    .container {
      padding: 1rem 0.4rem;
      border-top: 1px solid;
      border-color: rgba(red($blue), green($blue), blue($blue), 0.2);
    }

    img {
      height: 3rem;
      padding-right: 0.2rem;
    }
  }
}

html {
  font-size: $font-size-base;
  text-align: justify;
}

footer {
  font-size: $font-size-base - 0.4rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-base + 0.1rem;
  }
  footer {
    font-size: $font-size-base - 0.3rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base + 0.2rem;
  }
  footer {
    font-size: $font-size-base - 0.2rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-base + 0.3rem;
  }
  footer {
    font-size: $font-size-base - 0.21rem;
  }
}

.follow-link {
  &::after {
    white-space: nowrap;
    content: ' »';
  }
}

iframe {
  width: 100%;
  height: calc(16rem + 78px);
  margin-top: -48px;
  border: 0;
}

.map {
  height:16rem;
  width:100%;
  display:inline-block;
  overflow:hidden;
}