@import "var";

body {
  font-family: Exo, sans-serif;
}

nav {

  background-color: $green;

  .navbar-brand{
    text-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(0,0,0,.7);

    img {
      width: 8rem;
      padding-right: 1rem;
    }
  }
}

footer {
  img {
    width: 5rem;
  }
}
