$green: #1C9246;
$yellow: #F6C80F;
$blue: #0C1D32;

/** bootstrap var */
$font-size-base: 0.72rem;
$headings-color: $green;
$text-color: $blue;
$link-color: $green;
$font-family-sans-serif: Exo, sans-serif;
