<!DOCTYPE html>
{% include var.html %}
<html lang="{{ lang }}">
    {% include head.html %}
    {% include nav.html %}
    <body>
        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <section>{{ content }}</section>
                    {% include news_all.html %}
                </main>
                <aside class="col-md-3">
                    {% include social.html %}
                </aside>
            </div>
        </div>
        {% include footer.html %}
    </body>
    {% include script.html %}
</html>
